:root {
    --white-color: #fff;
    --black-color: #000;
    --quick-silver-color: #a6a6a6;
    --lime-green-color: #7AB226;
    --gray-color: #808080;
}

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Header styles */
.header {
    margin: 0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 30px;
    background-color: var(--quick-silver-color);
}

/* Header scroll effect */
.header-scroll {
    background-color: var(--quick-silver-color);
}

/* Header container styles */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Logo styles */
.logo {
    font-size: 26px;
    font-weight: 700;
    color: var(--black-color);
}

/* Header navigation list styles */
.header-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Header navigation link styles */
.header-a {
    position: relative;
    margin: 0 5px;
    padding: 8px;
    font-size: 20px;
    color: var(--black-color);
    transition: color 0.3s ease;
}

/* Header navigation link hover effect */
.header-a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--black-color);
    transition: width 0.3s ease, left 0.3s ease;
}

/* Header navigation link hover effect */
.header-a:hover::after {
    width: calc(100% - 16px);
    left: 8px;
}

/* Main section styles */
.main-section {
    margin: 70px 0 20px 0;
    padding: 20px;
}

/* Main banner section styles */
.main-banner-section {
    background-color: var(--quick-silver-color);
    padding: 30px;
    border-radius: 10px;
}

/* Section container styles */
.section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Banner text styles */
.banner-main-text {
    font-size: 30px;
    color: var(--black-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-sub-text {
    font-size: 20px;
    color: var(--black-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-subs-text {
    font-size: 16px;
    color: var(--black-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-texts {
    font-size: 16px;
    color: var(--black-color);
    margin-bottom: 20px;
}

/* Banner buttons styles */
.banner-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.banner-img {
    height: 20px;
    width: 20px;
}

.banner-button {
    margin: 20px 0;
    font-size: 18px;
    color: var(--white-color);
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.banner-button:hover {
    transform: scale(1.05);
}

/* linkedin button styles */
.linkedin {
    background: linear-gradient(145deg, #000, #ffe066);
}

/* Resume button styles */
.resume {
    background: linear-gradient(145deg, #70c1b3, #000);
}

/* Banner images styles */
.banner-images {
    height: 400px;
    width: 400px;
    border: 3px solid var(--quick-silver-color);
    border-radius: 10px;
    transition: border 0.3s ease;
}

.banner-images:hover {
    border: 3px solid var(--lime-green-color);
}

.my-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Banner icons styles */
.banner-icons {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid var(--lime-green-color);
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.banner-icon:hover {
    transform: scale(1.2);
}

.banner-icon-img {
    height: 20px;
    width: 20px;
    transition: transform 0.5s ease;
}

.banner-icon-img:hover {
    transform: rotateY(360deg);
}

/* Banner experience styles */
.banner-experience {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Experience content styles */
.experience-content {
    text-align: center;
}

.experience-text {
    font-size: 46px;
    color: var(--black-color);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-sup {
    font-size: 20px;
}

.experience-span {
    font-size: 20px;
    color: var(--black-color);
    margin-left: 8px;
}

.aboutme-section,
.experience-education-section,
.key-project-section,
.skills-proficiencies-section {
    margin: 30px 0;
    padding: 10px;
}

.experience-education-section,
.key-project-section {
    background-color: var(--quick-silver-color);
    border-radius: 10px;
}

.aboutme-section-header,
.experience-education-section-header,
.key-project-section-header,
.skills-proficiencies-section-header {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-color);
    text-align: center;
    display: flex;
    align-items: center;
}


.aboutme-section-header::before,
.aboutme-section-header::after,
.skills-proficiencies-section-header::before,
.skills-proficiencies-section-header::after,
.key-project-section-header::before,
.key-project-section-header::after,
.experience-education-section-header::before,
.experience-education-section-header::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: var(--black-color);
    margin: 5px;
}

.experience-education-section-desc,
.key-project-section-desc,
.skills-proficiencies-section-desc {
    font-size: 14px;
    text-align: center;
    color: var(--black-color);
    padding-bottom: 20px;
}

.aboutme-img,
.key-project-img,
.skills-img {
    height: 50px;
    width: 50px;
}

.aboutme-desc {
    margin: 50px 0;
    font-size: 16px;
    color: var(--black-color);
    line-height: 1.5;
}

.experience-education-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.experience-education-box {
    width: 90%;
    padding: 10px;
    background-color: var(--gray-color);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.experience-education-box:hover {
    transform: scale(1.01);
}

.experience-education-year {
    font-size: 24px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 10px;
}

.experience-education-year-img {
    height: 20px;
    width: 20px;
}

.experience-education-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 10px;
}

.experience-education-company {
    font-size: 18px;
    font-style: italic;
    color: var(--black-color);
    margin-bottom: 10px;
}

.experience-education-desc {
    font-size: 14px;
    color: var(--black-color);
    margin-bottom: 10px;
}

.skills-proficiencies-container {
    display: flex;
    justify-content: space-around;
}

.skills-header {
    font-size: 26px;
    font-weight: 700;
    color: var(--black-color);
    margin: 20px 0;
}

.skills-li {
    margin: 10px;
    font-size: 20px;
    color: var(--black-color);
    list-style-type: square;

}

.key-project-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.key-project-content {
    width: 300px;
    height: 220px;
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.key-project-content:hover {
    transform: scale(1.01);
}

.key-project-content-img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}

.key-project-header {
    font-size: 18px;
    font-weight: 700;
    color: var(--black-color);
}

.key-project-year {
    font-size: 16px;
    font-style: italic;
    color: var(--black-color);
}